@model LiveMonitoringWeb.Models.Groups

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_outh.cshtml";
}

<div class="container" style="min-height:470px;height:100%;">
    <div class="row">

        <div class="col-sm-12">
            <h3><span class="glyphicon glyphicon-globe"></span> Groups &#58;&#58; Details</h3>
            <hr />
        </div>
        <div class="col-sm-1"></div><div class="col-sm-10" style="margin-bottom:100px;">
            <div class="display-label label-text">
                @Html.DisplayNameFor(model => model.GroupName)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.GroupName)
            </div>

            <div class="display-label label-text">
                @Html.DisplayNameFor(model => model.ShiftStartTime)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ShiftStartTime)
            </div>

            <div class="display-label label-text">
                @Html.DisplayNameFor(model => model.ShiftEndTime)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ShiftEndTime)
            </div>

            <div class="display-label label-text">
                @Html.DisplayNameFor(model => model.LunchStartTime)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LunchStartTime)
            </div>

            <div class="display-label label-text">
                @Html.DisplayNameFor(model => model.LunchEndTime)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LunchEndTime)
            </div>
            <div class="display-label label-text">
                <span>@Html.DisplayFor(model => model.IsActive)</span> @Html.DisplayNameFor(model => model.IsActive)
            </div>
            <div class="display-label label-text">
                <span>@Html.DisplayFor(model => model.IsDeleted)</span> @Html.DisplayNameFor(model => model.IsDeleted)

                <p style="padding-top:10px;">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupId }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div><div class="col-sm-1"></div>
        </div>

    </div>

