<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/bundles/devCss")
   
    <link href="/Content/css/angular-datepicker.min.css" rel="stylesheet">
   
    


    <base href="http://localhost:52015/" />
</head>
<body ng-app="Blurtest">

    <div class="body-content">
        @RenderBody()

    </div>



</body>

@*@Scripts.Render("~/bundles/blurejs")*@

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/jquery.easing/js/jquery.easing.js"></script>
<script src="bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
<script src="bower_components/chart.js/dist/Chart.js"></script>
<script src="bower_components/amcharts/dist/amcharts/amcharts.js"></script>
<script src="bower_components/amcharts/dist/amcharts/plugins/responsive/responsive.min.js"></script>
<script src="bower_components/amcharts/dist/amcharts/serial.js"></script>
<script src="bower_components/amcharts/dist/amcharts/funnel.js"></script>
<script src="bower_components/amcharts/dist/amcharts/pie.js"></script>
<script src="bower_components/amcharts/dist/amcharts/gantt.js"></script>
<script src="bower_components/amcharts-stock/dist/amcharts/amstock.js"></script>
<script src="bower_components/ammap/dist/ammap/ammap.js"></script>
<script src="bower_components/ammap/dist/ammap/maps/js/worldLow.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/slimScroll/jquery.slimscroll.js"></script>
<script src="bower_components/angular-slimscroll/angular-slimscroll.js"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-sortable/sortable.js"></script>
<script src="bower_components/bootstrap/js/dropdown.js"></script>
<script src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
<script src="bower_components/leaflet/dist/leaflet-src.js"></script>
<script src="bower_components/angular-progress-button-styles/dist/angular-progress-button-styles.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script src="bower_components/chartist/dist/chartist.min.js"></script>
<script src="bower_components/angular-chartist.js/dist/angular-chartist.js"></script>
<script src="bower_components/eve-raphael/eve.js"></script>
<script src="bower_components/raphael/raphael.min.js"></script>
<script src="bower_components/mocha/mocha.js"></script>
<script src="bower_components/morris.js/morris.js"></script>
<script src="bower_components/angular-morris-chart/src/angular-morris-chart.min.js"></script>
<script src="bower_components/ionrangeslider/js/ion.rangeSlider.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/rangy/rangy-core.js"></script>
<script src="bower_components/rangy/rangy-classapplier.js"></script>
<script src="bower_components/rangy/rangy-highlighter.js"></script>
<script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
<script src="bower_components/rangy/rangy-serializer.js"></script>
<script src="bower_components/rangy/rangy-textrange.js"></script>
<script src="bower_components/textAngular/dist/textAngular.js"></script>
<script src="bower_components/textAngular/dist/textAngular-sanitize.js"></script>
<script src="bower_components/textAngular/dist/textAngularSetup.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="bower_components/jstree/dist/jstree.js"></script>
<script src="bower_components/ng-js-tree/dist/ngJsTree.js"></script>
<script src="bower_components/angular-ui-select/dist/select.js"></script>

<script src="Scripts/ng-table.min.js"></script>

<script src="Scripts/angular-datepicker.min.js"></script>



@Scripts.Render("~/bundles/Projectjs");



@Scripts.Render("~/bundles/shared");



@RenderSection("scripts", required: false);
</html>
