@model LiveMonitoringWeb.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String AppBaseURLWithSlash = new CommonUtility.AppSettingReader().ReadKey("WebBaseURL");
    String AppBaseURL = AppBaseURLWithSlash.Substring(0, AppBaseURLWithSlash.Length - 1);

}
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row" style="padding-bottom:10%;"></div>

        <div class="col-sm-3"></div>
        <div class="col-sm-6 loginbox loginbg">
            <div class="col-sm-12">
                @Html.AntiForgeryToken()
                <div class="col-sm-12"><img src="@AppBaseURL/content/images/rgl_logo.png" class="logo-image" /></div>
                <div class="col-sm-12">@Html.LabelFor(m => m.Email, new { @class = "login-text" })</div>
                <div class="col-sm-12 ">
                    @Html.TextBoxFor(m => m.Email, new { @class = "inputtype " })
                    @Html.ValidationMessageFor(m => m.Email, "We need your email to send you a reset link!", new { Style = "font-size:13px;" })
                    @Html.ValidationSummary(true)
                </div>
                <div class="col-sm-12" >
                
                    <p class="input-text">
                        <span style="float:right;color:white;"><input type="submit" id="Button" value="Send Recovery Email" class="button" style="color:white;font-weight:700;max-width:180px;" /></span>
                        <span style="float:left;margin-top:20px;">@Html.ActionLink("Back to Login", "Login", null, new { @class = "input-text login-text" })</span>
                        
                    </p>
               </div>
               
            </div>
        </div>
        <div class="col-sm-3"></div>
    }
</div>
