@model LiveMonitoringWeb.Models.RecoverPasswordModel
@{
    ViewBag.Title = "Recover Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String AppBaseURLWithSlash = new CommonUtility.AppSettingReader().ReadKey("WebBaseURL");
    String AppBaseURL = AppBaseURLWithSlash.Substring(0, AppBaseURLWithSlash.Length - 1);
}

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row" style="padding-bottom:12%;"></div>

        <div class="col-sm-3"></div>
        <div class="col-sm-6 loginbox loginbg">
            <div class="col-sm-12">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ReturnToken)
                <div class="col-sm-12"><img src="@AppBaseURL/content/images/rgl_logo.png" class="logo-image" /></div>
                <div class="col-sm-12">@Html.Label("Email", new { @class = "login-text" })</div>
                <div class="col-sm-12 ">
                    @Html.TextBoxFor(m => m.Email, new { @class = "inputtype " })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="col-sm-12">@Html.LabelFor(m => m.Password, new { @class = "input-text login-text" })</div>
                <div class="col-sm-12 ">
                    @Html.PasswordFor(m => m.Password, new { @class = "inputtype" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="col-sm-12">@Html.LabelFor(m => m.ConfirmPassword, new { @class = "input-text login-text" })</div>
                <div class="col-sm-12 ">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inputtype" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <div class="col-sm-12" style="text-align:right;"><a href="#"><input type="submit" id="Button" value="Recover Account" class="button" style="color:white;font-weight:700;" /></a></div>
                <div class="col-sm-12">
                    <p class="input-text">
                        @Html.ActionLink("Back to Login", "Login", null, new { @class = "input-text login-text" })
                    </p>
                </div>
                <div class="col-sm-12">@Html.ValidationSummary(true)</div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    }
</div>