@model LiveMonitoringWeb.Models.Category

@{
    ViewBag.Title = "Create";
}
<div class="container" style="min-height:400px;height:100%; ">
    <div class="row">

        <div class="col-sm-12">
            <h3><span class="glyphicon glyphicon-cog"></span> Category &#58;&#58; Create</h3>
            <hr />
        </div>

        <div class="col-sm-1"></div>
        <div class="col-sm-10">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <div>
                    @{
                var message = string.Empty;
                if (ViewBag.Message != null)
                {
                    message = ViewBag.Message;
                }
                <label style="color:red;">@message</label>
                    }
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CategoryName, new { @class = "labeltop" })
                </div>
                <div class="editor-field ">
                    @Html.TextBoxFor(model => model.CategoryName, new { @class = "textarea1" })
                    @Html.ValidationMessageFor(model => model.CategoryName)
                </div>


                <p style="padding-top:10px;">
                    <input type="submit" value="Create" class="button-link" /> | @Html.ActionLink("Back to List", "Index")
                </p>

            }
        </div>
    </div>
</div>