@model LiveMonitoringWeb.Models.Subscriber

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Subscriber</legend>

        @Html.HiddenFor(model => model.SubscriberId)

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId, "customer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerId", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FreeUsers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FreeUsers)
            @Html.ValidationMessageFor(model => model.FreeUsers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PaidUsers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PaidUsers)
            @Html.ValidationMessageFor(model => model.PaidUsers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsDeleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsDeleted)
            @Html.ValidationMessageFor(model => model.IsDeleted)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedDate)
            @Html.ValidationMessageFor(model => model.ModifiedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedBy)
            @Html.ValidationMessageFor(model => model.ModifiedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeletedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeletedDate)
            @Html.ValidationMessageFor(model => model.DeletedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeletedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeletedBy)
            @Html.ValidationMessageFor(model => model.DeletedBy)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
